.container {
  padding: var(--spacing-4);
  background-color: var(--surface);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
}

.container button {
  width: 100%;
}