.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing-8) var(--spacing-6);
  gap: var(--spacing-6);
}

.breadcrumbWrapper {
  margin-bottom: var(--spacing-2);
}

.main {
  display: flex;
  justify-content: center;
}